[Unit]
Description=Seat management daemon
Documentation=man:seatd(1)
Before=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/seatd -g video
Restart=always

[Install]
WantedBy=multi-user.target
